<form [ngrxFormState]="formState | async" (submit)="submit()">
  <div>
    <mat-form-field>
      <mat-select [ngrxFormControlState]="(formState | async).controls.competitors" placeholder="Competitors" multiple>
        <mat-option *ngFor="let user of (users | async)" [value]="user.name">{{user.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <!-- {{ json.stringify((formState | async).controls.factors.controls[0].controls["metric"]) }} -->
    <mat-icon (click)="addFactor(0)">+</mat-icon>
    <div *ngFor="let factor of (formState | async).controls.factors.controls; let idx = index">
      <div>
        <mat-icon (click)="removeFactor(idx)">-</mat-icon>
        <mat-form-field>
          <mat-select [ngrxFormControlState]="factor.controls['metric']" placeholder="Metric">
            <mat-option *ngFor="let metric of (metricTypes | enumToArray)" [value]="metric">{{metric}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-slider [max]="metrics[factor.controls['metric']].upperLimit"
          [min]="metrics[factor.controls['metric']].lowerLimit"
          [step]=".1"
          [thumbLabel]="true"
          [tickInterval]="true"
          [ngrxFormControlState]="factor.controls['weight']">
        </mat-slider>
      </div>
    </div>
    <!-- <div>
      <mat-form-field>
        <mat-select [ngrxFormControlState]="(formState | async).controls.factors.controls[0].controls['metric']" placeholder="Metric">
          <mat-option *ngFor="let metric of (metricTypes | enumToArray)" [value]="metric">{{metric}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-slider
        [max]="2"
        [min]="-2"
        [step]=".1"
        [thumbLabel]="true"
        [tickInterval]="true"
        [ngrxFormControlState]="(formState | async).controls.factors.controls[0].controls['weight']">
      </mat-slider>
    </div> -->
  </div>
  <!-- <div>
    <mat-form-field>
      <input [ngrxFormControlState]="(formState | async).controls.timeSpan.startDate" matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input [ngrxFormControlState]="(formState | async).controls.timeSpan.endDate" matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div> -->
  <div class="buttons">
    <div></div>
    <div>
      <button type="submit">
        Submit
      </button>
      <button type="button"
        [disabled]="(formState | async).isPristine
                          && (formState | async).isUntouched
                          && (formState | async).isUnsubmitted"
        (click)="reset()">
        Reset
      </button>
    </div>
  </div>
</form>
<br />
<div *ngIf="(formState | async).isSubmitted">
  The form was submitted with the following value:
  <br />
  <pre>{{ submittedValue | async | json }}</pre>
</div>